main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    margin: auto;
    width: 1500px;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    cursor: pointer;
    background-color: #f2f2f2;
}

.row-green {
    background-color: #d4edda;
}

.row-yellow {
    background-color: #fff3cd;
}

.row-red {
    background-color: #f8d7da;
}

.pagination-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
}


.row-green {
    background-color: #d4edda;
}

.row-yellow {
    background-color: #fff3cd;
}

.row-red {
    background-color: #f8d7da;
}

.pagination-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
}

.search {
    padding: 10px 30px;
    border: none;
    margin-bottom: 25px;
}